*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  /* Basic */
  --black: hsla(0, 0%, 0%, 0.1);
  --white: hsl(0, 0%, 100%);
  /* Primary */
  --orange: hsl(25, 97%, 53%);
  /* Neutral */
  -light--grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  /* Font */
  --font-primary: 'Overpass', sans-serif;
}

html {
  height: -webkit-fill-available;
  font-size: 62.5%;
}

body {
  background-color: var(--very-dark-blue);
  color: var(--white);
  font-family: var(--font-primary);
  font-size: 1.5rem;
}